@import '@/uni_modules/uni-scss/variables.scss';
/* 公用样式 */
page,body{
	width: 100%;
  height: 100%;
}
text,view,page,swiper,navigator,item,image{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
 
/* 配置一个主题颜色 公有
单位：1px = 2rpx
  正常14px = 28rpx
*/
page {
  --themeColor:#eb4450;
  font-size: 28rpx;
}
